#showcase {
    background-image: url("images/showcase-bg-blue.png");
    background-position: center center;
}

#showcase #showcase-img {
    max-width: 325px;
    align-self: center;
    margin: auto;
    padding: 50px 0;
}

#title {
    font-size: 40px;
    color: coral;
}

#past-pics {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#past-pics .past-quote{
    width: 32%;
    padding-bottom: 20px;
}

#about {
    margin-top: 80px;
}


@media(max-width:650px){
    #title {
        text-align:center;
    }
    
    #past-pics {
        text-align:center;
        display:block;
    }

    #past-pics .past-quote{
        width: 80%;
        margin: auto;
        padding-bottom: 20px;
    }

    #showcase #showcase-img {
        max-width: 200px;
        padding: 100px 0;
    }
}